<!-- show all trips here -->



{{!-- <div style="padding-top:5px">
  <button class="button button--add-trip" new:trip>
    Add Trip
  </button>
</div> --}}

<div style="margin-left: 60px; font-weight: bolder; color: purple; display: inline-block; margin-top: 30px;">all of {{currentUser.details.username}}'s trips here: 
  <div style="padding-top:5px">
    <button class="button button--add-trip" new:trip>
      Add Trip
    </button>
  </div>
</div>

<div object>
  <div array key="trips" class="trip_cards">
    {{#for trip in trips}}
    <div
      object
      key:text="@search"
      key:id="{{trip.id}}"
      key:trip-image="@search"
      class="trips"
    >
      <div style="width: fit-content; align-self:flex-end;">
        <button class="edit_button" edit:text >...</button>
      </div>
      <input update:trip-image type="file">
      <img target:trip-image="@attr:src" src="{{trip.tripImage}}" class="image">
      <a target:text="@innerText" href="trip/{{trip.id}}">
        {{default trip.text "New Trip"}}
      </a>
    </div>
    {{/for}}
  </div>
</div>
