<div object key:text="@search" key:id="{{currentItem.id}}" key:sum="@search">
    <div 
        target:text="@innerText"
        edit:text:without-remove
        style="font-size: 40px;"
        class="trip_name"
    >
        {{currentItem.text}}
    </div>
    <div>
    <div id="my_sum"></div>
    </div>

    {{!-- <button class="button button--add-participant" new:participant>Add participant</button> --}}
    <div style="margin-top: 20px; margin-left: 30px;">
        Participants:
        <button class="button button--add-participant" new:participant style="margin-left: 20px;">Add Participant</button>
    </div>
    

    <div object>
        <div class="participants" key="participants" array sortable="participants" >
            {{#for participant in currentItem.participants}}
            <a object key:name="@search" key:id="{{participant.id}}" id="my_participant">
                <div class="participant_info"> 
                    <p target:name="@innerText" class="participant" edit:name watch:name="summy()">
                        {{default participant.name "New Participant"}}
                    </p>
                    <div id="participant_total"></div>
                </div>

                <div object>
                  <div array key="events" class="events" >
                    {{#for event in participant.events}}
                    <div >

                    </div>
                    <div
                        object 
                        key:p-event="@search"
                        key:price="@search"
                        key:id="{{event.id}}"
                        watch:price="summy()"
                    >
                        <div target:p-event="@innerText" edit:p-event class="event_box">
                            {{default event.pEvent "Event"}}
                        </div>
                        <p style="display: inline-block; margin-left: 100px;">...............................</p>
                        <div 
                            target:price="@innerText" 
                            edit:price 
                            class="price_box"
                            id="my_price"
                            watch:price="summy()"
                            >
                            {{default event.price "0.00"}}
                        </div>
                    </div>
                    {{/for}}
                  </div>
                </div>
                <div id="participant_sum"><!--this is where the participant sum is--></div>
                <div style="padding-top:5px">
                  <button class="button button--add-event" style="margin-left: 700px" new:event>
                    Add Event
                  </button>
                </div>
            </a>
            {{/for}}
        </div>
    </div>

</div>


<script>
    function loadpage(){
        let sum = 0
        let my_participants = document.querySelectorAll('#my_participant')
        console.log(my_participants)
        for (participant of my_participants) {
            let price_elements = participant.querySelectorAll('#my_price')
            let participant_name = participant.querySelector('.participant').innerText
            let participant_sum = 0
            for(price_element of price_elements){
                console.log(price_element.innerText)
                participant_sum += parseFloat(price_element.innerText)
                price_element.innerText = parseFloat(price_element.innerText).toFixed(2)
            }
            let price_output = participant.querySelector('#participant_total')
            sum += participant_sum
            price_output.innerText = `${participant_name} Total: $ ${participant_sum.toFixed(2)}`
        }
        let my_sum = document.getElementById("my_sum")
        my_sum.innerHTML = `Trip Total: $ ${sum.toFixed(2)}`
        //[0].children[3].children.my_price.innerText

        //split each
        let split = (sum / my_participants.length).toFixed(2)
        console.log(split)
    }

    loadpage()

</script>