<div object key:text="@search" key:id="{{currentItem.id}}">
    <div target:text="@innerText" edit:text:without-remove style="font-size: 40px;">
        {{currentItem.text}}
    </div>

    <button class="button button--add-participant" new:participant>Add participant</button>
    Participants:

    <div object>
        <div class="participants" key="participants" array sortable="participants">
            {{#for participant in currentItem.participants}}
            <div>
                <a object key:name="@search" key:id="{{participant.id}}">
                    <p target:name="@innerText" edit:name>
                        {{default participant.name "New Participant"}}
                    </p>
                    <button class="button" new:expense>Add Expense</button>
                    <br>
                    {{participant.name}}'s expenses:
                    <div array class="expenses" key="expenses" sortable="expenses">
                        {{#for expense in participant.expenses}}
                        <a object key:name="@search" key:price="@search" key:id="{{expense.id}}">
                            <p target:name="@innerText" edit:name>
                                {{default expense.name "New Expense"}}
                            </p>
                            <p target:price="@innerText" edit:price>
                                {{default expense.price "0.00"}}
                            </p>     
                        </a>
                        {{/for}}
                    </div>
                </a>
            </div>
            {{/for}}
        </div>
    </div>




</div>