<div object key:text="@search" key:id="{{currentItem.id}}" key:sum="@search">
    <div 
        target:text="@innerText"
        edit:text:without-remove
        style="font-size: 40px;"
        class="trip_name"
    >
        {{currentItem.text}}
    </div>
    sum:
    <div
        target:sum="@innerText"
        watch:sum="summy()"
        id="my_sum"
    >
        {{currentItem.sum}}
    </div>

    {{!-- <button class="button button--add-participant" new:participant>Add participant</button> --}}
    <div style="margin-top: 20px; margin-left: 30px;">
        Participants:
        <button class="button button--add-participant" new:participant style="margin-left: 20px;">Add Participant</button>
    </div>
    

    <div object>
        <div class="participants" key="participants" array sortable="participants">
            {{#for participant in currentItem.participants}}
            <a object key:name="@search" key:id="{{participant.id}}">
                <p target:name="@innerText" class="participant" edit:name>
                    {{default participant.name "New Participant"}}
                </p>

                
                <div object>
                  <div array key="events" class="events">
                    {{#for event in participant.events}}
                    <div >

                    </div>
                    <div
                        object 
                        key:p-event="@search"
                        key:price="@search"
                        key:id="{{event.id}}"
                        watch:price="summy({{event.id}})"
                    >
                        <div target:p-event="@innerText" edit:p-event class="event_box">
                            {{default event.pEvent "Event"}}
                        </div>
                        <p style="display: inline-block; margin-left: 100px;">...............................</p>
                        <div 
                            target:price="@innerText" 
                            edit:price 
                            class="price_box"
                            id="my_price"
                            watch:price="summy({{event.id}})"
                            >
                            {{default event.price "0.00"}}
                        </div>
                    </div>
                    {{/for}}
                  </div>
                </div>
                <div style="padding-top:5px">
                  <button class="button button--add-event" style="margin-left: 700px" new:event>
                    Add Event
                  </button>
                </div>
            </a>
            {{/for}}
        </div>
    </div>

</div>


<script>
    console.log("hello!")

    let sum = 0
    function loadpage(){

        let my_prices = document.querySelectorAll("#my_price")
        console.log(my_prices)
        for (price of my_prices){
            console.log(price)
            console.log(price.innerText)
            sum += parseFloat(price.innerText)
        }
        let my_sum = document.getElementById("my_sum")
        my_sum.innerHTML = sum
        console.log(sum)
    }
    loadpage()

</script>